body {
  background-color: lightslategray;
}

div.todo {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: 700;
}
#inputTASK {
  font-size: 20px;
  width: 200px;
  height: 50px;
}

#todo-Btn {
  background: dodgerblue;
  width: 100px;
  height: 40px;
}

#delete-all-btn {
  background: dodgerblue;
  width: 100px;
  height: 40px;
}

li {
  text-align: start;
}
